---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import PlatformActions from "../../components/PlatformActions.astro";
import Footer from "../../components/Footer.astro";

import logo from "../../assets/images/logo-horizontal.svg";
import emailIcon from "../../assets/images/email-icon.svg";
import facebookIcon from "../../assets/images/facebook-icon.svg";
import twitterIcon from "../../assets/images/twitter-icon.svg";
import linkIcon from "../../assets/images/link-icon.svg";
import { getEntries } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("episodes");
  entries.sort((a, b) => a.data.number - b.data.number);

  return entries.map((episode, index, arr) => ({
    params: { slug: episode.data.number },
    props: { episode, previous: arr[index - 1], next: arr[index + 1] }
  }));
}

const { episode, previous, next } = Astro.props;
const title = `${episode.data.number}: ${episode.data.title}`;
const hosts = await getEntries(episode.data.hosts);
---

<Layout title={title}>
  <header>
    <div class="header-content">
      <a href="/">
        <Image src={logo} alt="Front-End Fire Logo" class="logo" />
        <h1 class="sr-only">Front-End Fire</h1>
      </a>
      <div>
        <PlatformActions showText={false} />
      </div>
    </div>
  </header>

  <main>
    <div class="episode-content">
      <div class="episode-info">
        <span class="tag">{episode.data.type}</span>
        <span class="episode-number">Episode {episode.data.number}</span>
      </div>

      <h1 class="episode-header">{episode.data.title}</h1>

      {
        episode.data.teaser && (
          <p class="episode-teaser">{episode.data.teaser}</p>
        )
      }
      {episode.data.audio && <audio controls src={episode.data.audio} />}
    </div>

    <div class="episode-details">
      <!-- <h2 class="section-heading">Details</h2> -->
      <time datetime={episode.data.date.toISOString()} class="episode-date">
        {
          episode.data.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric"
          })
        }
      </time>
      {
        episode.data.clip && (
          <p>
            <a href={episode.data.clip} target="_blank">
              View Clip
            </a>
          </p>
        )
      }

      <strong>Hosted by</strong>
      <ul>
        {
          hosts.map((host) => (
            <li>
              <a href={host.data.website} target="_blank">
                {host.data.name}
              </a>
            </li>
          ))
        }
      </ul>

      {
        episode.data.guests && (
          <>
            <h2 class="section-heading">Guests</h2>
            <ul>
              {episode.data.guests.map((guest) => (
                <li>
                  <a href={guest.url} target="_blank">
                    {guest.name}
                  </a>
                </li>
              ))}
            </ul>
          </>
        )
      }

      <p>
        <strong>Share this episode</strong>
        <a
          title="Share via email"
          href={`mailto:?subject=${encodeURIComponent(episode.data.title)}&body=Check out this episode from the Front-End Fire podcast%0D%0A%0D%0AApple Podcasts:%0D%0A${encodeURIComponent(episode.data.apple)}%0D%0A%0D%0ASpotify:%0D%0A${encodeURIComponent(episode.data.spotify)}`}
          class="share-action"
        >
          <Image src={emailIcon} alt="Share via email" />
        </a>
        &nbsp;
        <a
          title="Share on Facebook"
          target="_blank"
          href={`https://www.facebook.com/sharer/sharer.php?u=${episode.data.spotify}`}
          class="share-action"
        >
          <Image src={facebookIcon} alt="Share on Facebook" />
        </a>
        &nbsp;
        <a
          title="Tweet this episode"
          target="_blank"
          href={`https://twitter.com/intent/tweet?text=${encodeURIComponent(episode.data.title)}%0D%0A${encodeURIComponent(episode.data.spotify)}`}
          class="share-action"
        >
          <Image src={twitterIcon} alt="Tweet this episode" />
        </a>
        &nbsp;
        <button
          title="Copy Episode Link"
          popovertarget="copied-popover"
          class="share-action copy-episode-link-action"
        >
          <Image src={linkIcon} alt="Copy Episode Link" />
        </button>
        <div popover id="copied-popover">Copied!</div>
      </p>
    </div>

    <div class="episode-extras">
      <h2 class="section-heading">Full Description</h2>
      <p class="episode-description">
        {episode.data.description}
      </p>

      <h2 class="section-heading">Links</h2>
      <ul class="episode-links">
        {
          episode.data.links.map((link) => (
            <li>
              <a href={link.url} target="_blank">
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <nav class="episode-nav">
      {
        previous && (
          <a
            href={"/episodes/" + previous.data.number}
            class="previous-episode-nav-link"
          >
            <span>
              ep. {previous.data.number}: {previous.data.title}
            </span>
          </a>
        )
      }
      {
        next && (
          <a
            href={"/episodes/" + next.data.number}
            class="next-episode-nav-link"
          >
            <span>
              ep. {next.data.number}: {next.data.title}
            </span>
          </a>
        )
      }
    </nav>
  </main>

  <Footer />
</Layout>

<script>
  document
    .querySelector(".copy-episode-link-action")
    ?.addEventListener("click", () => {
      navigator.clipboard.writeText(location.href);
      window.setTimeout(
        () => document.getElementById("copied-popover")?.hidePopover(),
        5000
      );
    });
</script>

<style>
  header {
    background: #3d3c40 linear-gradient(#161619, #3d3c40);
    color: var(--off-white);
    padding: 0.5em 0;
    font-size: 1.125em;
    margin-bottom: 1em;
  }

  main,
  nav,
  footer,
  .header-content {
    width: var(--content-width);
    max-width: 85rem;
    margin: auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  nav {
    margin-top: 3em;
  }

  audio {
    display: block;
    width: 100%;
    margin: 1em 0;
  }

  audio::-webkit-media-controls-enclosure {
    background: var(--primary-color);
    border-radius: 4px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  strong {
    display: block;
  }

  [popover] {
    border: 1px solid var(--primary-color-dark);
    border-radius: 4px;
    box-shadow: 0 0 3px var(--primary-color-dark);

    &:popover-open {
      position: absolute;
      inset: unset;
      right: 1em;
      bottom: 1em;
    }
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 9em;
    height: auto;
    vertical-align: middle;
    margin-right: auto;
  }

  .episode-content {
    max-width: 40em;
    margin-right: 5%;
  }

  .episode-details {
    margin-top: 2em;
  }

  .episode-extras {
    width: 100%;
  }

  .episode-info {
    display: flex;
    align-items: baseline;
    gap: 1em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.6em, 0.6em);
    color: var(--base-color-light);
  }

  .episode-header {
    margin: 0 0 0.25em;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.2;
  }

  .episode-date {
    display: inline-block;
    font-weight: 400;
    color: var(--base-color-dark);
    margin-bottom: 0.5rem;
  }

  .share-action {
    text-decoration: none;

    & img {
      height: 1.25em;
      width: 1.25em;
    }
  }

  button.share-action {
    height: 1.25em;
    width: 1.25em;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: inherit;
  }

  .episode-description,
  .episode-links {
    max-width: 40em;
    font-size: clamp(1rem, 0.875em, 0.875em);
    margin-bottom: 0;
  }

  .episode-description {
    white-space: pre-line;
  }

  .episode-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  [class$="episode-nav-link"] {
    display: inline-flex;
    align-items: center;
    gap: 0.35em;
    width: 33%;
    font-weight: 400;
    text-decoration: none;

    &::before,
    &::after {
      display: inline-block;
      vertical-align: 0.1em;
      font-weight: 500;
      font-size: 1.5em;
      font-family: monospace;
    }

    & span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }

  .previous-episode-nav-link::before {
    content: "\2190";
    margin-left: -0.85em;
  }

  .next-episode-nav-link {
    margin-left: auto;

    &::after {
      content: "\2192";
      margin-right: -0.85em;
    }
  }
</style>
