---
import type { CollectionEntry } from "astro:content";

interface Props {
  episode: CollectionEntry<"episodes">;
}

const { episode } = Astro.props;
---

<article class="episode-card">
  <div class="episode-info">
    <span class="tag">{episode.data.type}</span>

    <time datetime={episode.data.date.toISOString()} class="episode-date">
      {
        episode.data.date.toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
          timeZone: "UTC"
        })
      }
    </time>
    <span class="episode-number">#{episode.data.number}</span>
  </div>
  <h3 class="episode-title">
    <a href={"/episodes/" + episode.data.number}>{episode.data.title}</a>
  </h3>

  <p class="episode-description">{episode.data.description}</p>
</article>

<style>
  .episode-card > * {
    margin: 0.25rem 0;
  }

  .episode-title {
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 500;
  }

  .episode-info {
    display: flex;
    align-items: baseline;
    gap: 1em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.7em, 0.7em);
    color: var(--base-color-light);
  }

  .episode-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;

    margin: 0.25em 0;
    white-space: pre-wrap;
    font-size: clamp(1rem, 0.875em, 0.875em);
  }
</style>
