---
import apple from "../assets/images/apple-icon.svg?raw";
import spotify from "../assets/images/spotify-icon.svg?raw";
import discord from "../assets/images/discord-icon.svg?raw";
import rss from "../assets/images/rss-icon.svg?raw";

interface Props {
  showText?: boolean;
}

const { showText = true } = Astro.props;
---

<a
  href="https://podcasts.apple.com/us/podcast/front-end-fire/id1700169000"
  target="_blank"
  class="media-action"
  aria-label="Listen on Apple Podcasts"
  title={showText ? "" : "Listen on Apple Podcasts"}
>
  <Fragment set:html={apple} />
  <!-- <Image src={apple} alt="Apple Podcast Icon" /> -->
  {showText && "Apple"}
</a>
<a
  href="https://open.spotify.com/show/0MFC3eW0j1U9HC5U1dUZ0Y"
  target="_blank"
  class="media-action"
  aria-label="Listen on Spotify"
  title={showText ? "" : "Listen on Spotify"}
>
  <Fragment set:html={spotify} />
  {showText && "Spotify"}
</a>

<a
  href="https://discord.com/invite/sae4SWPAFN"
  target="_blank"
  class="media-action"
  aria-label="Join our Discord Channel"
  title={showText ? "" : "Join our Discord Channel"}
>
  <Fragment set:html={discord} />
  {showText && "Discord"}
</a>

<a
  href="https://feeds.buzzsprout.com/2226499.rss"
  target="_blank"
  class="media-action"
  title={showText ? "" : "RSS Feed"}
>
  <Fragment set:html={rss} />
  {showText && "RSS Feed"}
</a>
